.dropdown-user {
    padding-left: 0px;
}
.dropdown-user li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.dropdown-user li .dw-user-box {
    padding: 10px 15px;
}

.dropdown-user li .dw-user-box .u-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: top;
}

.dropdown-user li .dw-user-box .u-img img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.dropdown-user li .dw-user-box .u-text {
    display: inline-block;
    padding-left: 10px;
}

.dropdown-user li .dw-user-box .u-text h4 {
    margin: 0px;
    font-size: 15px;
}

.dropdown-user li .dw-user-box .u-text p {
    margin-bottom: 2px;
    font-size: 12px;
}

.dropdown-user li .dw-user-box .u-text .btn {
    color: #ffffff;
    padding: 5px 10px;
    display: inline-block;
}

.dropdown-user li a {
    padding: 9px 15px;
    display: block;
    color: #67757c;
}

.btn-danger, .btn-danger.disabled {
    background: #ff5c6c;
    border: 1px solid #ff5c6c;
    transition: 0.2s ease-in;
}

.dropdown-user li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(120, 130, 140, 0.13);
}

[class*=" ti-"], [class^=ti-] {
    font-family: themify;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-rounded {
    border-radius: 60px;
    padding: 7px 18px;
}

.dropdown-user li .dw-user-box .u-text .btn:hover {
    background: #e6294b;
}

.btn-danger:hover, .btn-danger.disabled:hover {
    background: #ff5c6c;
    border: 1px solid #ff5c6c;
}

.dropdown-user li a:hover {
    background: #e9edf2;
    color: #20aee3;
    text-decoration: none;
}